<h1>New message</h1>

<%= form_for @message do |f| %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= label_tag :receiver_id %>
  <%= select_tag :receiver_id, options_for_select(receivers_for_select)%>

  <%= f.submit 'Send' %>
<% end %>

